<% include _header %>

<h1>Welcome to Learn About Me!</h1>

<% products.forEach(function(product) { %>

  <div class="panel panel-default">
    <div class="panel-heading">
         <%= product.name %>
      </a>
    </div>
  </div>

<% }) %>

<% include _footer %>